<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Oh Noes!</h1>
        <h2>Something Bad Must Have Happened.</h2>
    </hgroup>
</body>
</html>
